node_modules
dist
coverage
.env
.env.local
.env.*.local
.data
tmp-check24
cookies.txt
login.html

/generated/prisma

*.log
.DS_Store
Thumbs.db

.idea
.vscode/*
!.vscode/extensions.json
package-lock.json
